<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meist | Joomasõber</title>
  <link href="../stylesheets/bootstrap.css" rel="stylesheet">
  <link href="../stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  //cdn for jquery
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  //if no cdn then local file
  <script> if (!window.jQuery) {document.write('<script src="../scripts/jquery-3.3.1.js" rel="stylesheet"><\/script>')}</script>
  //cdn for bootsrap.js
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  // if no bootstrap.js then local file
  <script> if(typeof($.fn.modal) === 'undefined') {document.write('<script src="../scripts/bootstrap.min.js"><\/script>')}</script>
  <script src='../scripts/index.js'></script>

</head>
<body>
<div id='pealkiri' class='jumbotron'>
  <h1>Joogisõber</h1>
</div>
<div class='wrapper'>

  <!--<nav id="sidebar" class='lg-active'>-->
  <nav id="sidebar" class='lg-active hidden-xs'>
    <div class="sidebar-header">
      <h3>Menüü</h3>
    </div>

    <ul class="list-unstyled components">
      <li><a href="/">Avaleht</a></li>
      <li><a href="/settings">Seaded</a></li>
      <li class="active"><a href="/about">Meist</a></li>
      <li><a href="/logout">Logi Välja</a></li>
    </ul>
  </nav>

  <div id='content'>
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
      <i class="glyphicon glyphicon-align-left"></i>
      <i class="fas fa-bars hamburger"></i>
    </button>
  </div>
  <div class='container'>
    <div class='row' id='about-text'>
      <div class='col-sm-7'>
        <h4>Kes Me Oleme</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h4>Mida Me Teeme</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1iWMAwk7BnwvBgByr4V41lO7pgjbcpE4z" width="400" height="300"></iframe>
    </div>
  </div>
</div>


</body>
</html>