<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meist | Joomasõber</title>
  <link href="../stylesheets/bootstrap.css" rel="stylesheet">
  <link href="../stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../scripts/jquery-3.3.1.js"></script>
  <script src="../scripts/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src='../scripts/index.js'></script>
</head>
<body>
<div class='wrapper'>

  <!--<nav id="sidebar" class='lg-active'>-->
  <nav id="sidebar" class='lg-active hidden-xs'>
    <div class="sidebar-header">
      <h3>Collapsible Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
      <li><a href="/">Home</a></li>
      <li><a href="#">Seaded</a></li>
      <li class="active"><a href="/about">Meist</a></li>
      <li><a href="/logout">Logi Välja</a></li>
    </ul>
  </nav>

  <div id='content'>
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
      <i class="glyphicon glyphicon-align-left"></i>
      <i class="fas fa-bars hamburger"></i>
    </button>
  </div>
  <div class='container'>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1iWMAwk7BnwvBgByr4V41lO7pgjbcpE4z" width="640" height="480"></iframe>
  </div>
</div>


</body>
</html>