<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Joomasõber</title>
  <link href="../stylesheets/bootstrap.css" rel="stylesheet">
  <link href="../stylesheets/style.css" rel="stylesheet">
</head>
<body>
<div class="jumbotron text-center">
  <h1>JoomaSõber</h1>
  <span id='randomQuote'>JoomaSõber taskus</span>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-sm-4'>
      Placeholder img
    </div>
    <div class='col-sm-6'>
      <form method='post'>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username"  placeholder="username" name='username' required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="password" name='password' required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/login/facebook">Log In with Facebook</a>
      </form>
    </div>
  </div>
</div>
<script src='../scripts/login.js'></script>
</body>
</html>