<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Joomasõber</title>
  <link href="../stylesheets/bootstrap.css" rel="stylesheet">
  <link href="../stylesheets/style.css" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script> if (!window.jQuery) {document.write('<script src="../scripts/jquery-3.3.1.js" rel="stylesheet"><\/script>')}</script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script> if(typeof($.fn.modal) === 'undefined') {document.write('<script src="../scripts/bootstrap.min.js"><\/script>')}</script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>JoomaSõber</h1>
  <span id='randomQuote'>JoomaSõber taskus</span>
</div>
<div class='container' id='loginContainer'>
  <div class='row'>
    <div class='col-sm-4'>
      Placeholder img
    </div>
    <div class='col-sm-6'>
      <div class='card'>
        <div class='card-header'>
          Login
        </div>
        <div class='card-body'>
        <form method='post'>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="username" name='username' required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password" name='password' required>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <a class="btn btn-primary" href="/login/facebook" role="button">Facebook</a>
          <a class="btn btn-primary" href="/login/secure" role="button">ID-Card</a>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='../scripts/login.js'></script>
</body>
</html>