<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Siin on kasutajate statistika lehekülg kus näeme kõike olulist">
  <meta name="keywords" content="Joomasõber alkohol sõber läti Jevgeni Ossinovski saku orginaal alecoq ">
  <script src='../scripts/stats.js'></script>
  <title>Joomasõber | Kasutaja Statistika</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script type="text/javascript" src="../scripts/stats_graphing.js"></script>
  <link href="../stylesheets/bootstrap.css" rel="stylesheet">
  <link href='../stylesheets/style.css' rel='stylesheet'>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script> if (!window.jQuery) {document.write('<script src="../scripts/jquery-3.3.1.js" rel="stylesheet"><\/script>')}</script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script> if(typeof($.fn.modal) === 'undefined') {document.write('<script src="../scripts/bootstrap.min.js"><\/script>')}</script>
</head>
<body>
<div class='container'>
  <h1>Statistics</h1>
  <div id='stats_charts' class>
  </div>
  <div id='stats_table'>
  </div>
</div>
</body>
</html>